<.header>
  {@blog_post.title}
  <:actions>
    <%= if Tqm.Accounts.Person.owner?(assigns[:current_person]) do %>
      <.link href={~p"/blog/#{@blog_post}/edit"}>
        <.button>Edit</.button>
      </.link>
    <% end %>
  </:actions>
</.header>

<.list>
  <:item title="Title">{@blog_post.title}</:item>
  <:item title="Content">{@blog_post.content}</:item>
  <:item title="Published at">{@blog_post.published_at}</:item>
</.list>

<.back navigate={~p"/blog"}>Back to blog</.back>
